<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data"> 
        <div class="mmb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">That's a nice title.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">That's a short description.</div>
        </div>
        <div class="mb-3">
            <P>Previous Image</P> 
            <img src="<%= originalImageUrl%>" alt="PI">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Mention price conrretly.</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Mention country correctly.</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" value="<%= listing.location %>" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Mention location correctly.</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
</div>
